


# PORT=8000
# DATABASE_URL=mysql://phpadmin:StrongPassword123!@localhost:3308/chat_app
# DB_NAME='chat_app'
# DB_NAM='chat'
# DB_PASS='StrongPassword123!'
# DB_HOST='localhost'
# DB_USER='phpadmin'
# DB_PORT=3308

PORT=8000
DB_NAME='mydb'
DB_PASS='admin'
DB_HOST='localhost'
DB_USER='admin'
DB_PORT=3306
RABBITMQ_HOST='localhost'
RABBITMQ_USER='guest'
RABBITMQ_PASS='guest'

